@import 'tailwindcss';

@theme {
  --color-accent: #F39F5A;
  --color-dark: #451952
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility full-size {
  @apply w-full h-full;
}

body {
  background-color: #451952;
  color: #F39F5A;
}

button {
  cursor: pointer;
}