@import 'tailwindcss';

@theme {
  --color-accent: #F39F5A;
  --color-dark: #641B2E;
  --color-dark-alt: #8A2D3B;
  --color-middle: #BE5B50;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility full-size {
  @apply w-full h-full;
}

@utility container {
  @apply max-w-[1400px];
}

body {
  background-color: #641B2E;
  color: #F39F5A;
}

button {
  cursor: pointer;
}